<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Restaurant App</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <ul>
        <% for(var i = 0; i < items.length; i++) { %>
            <li><%= items[i].name %> - <%= items[i].price %> € <a href="/addToCart/<%=i%>"><button>ADD</button></a></li>
        <% } %>
    </ul>
    <section>
        <% if (locals.cartError) { %>
            <span>Vous avais attends le plafond de votre budget</span>
        <% } %>
        <span></span>
        <h2>Panier : <%= total %> €</h2>
        <ul>
            <% for(var i = 0; i < cart.length; i++) { %>
                <li><%= cart[i].name %> - <%= cart[i].price %> € <a href="/removeItem/<%=i%>"><button>REMOVE</button></a></li>
            <% } %>
        </ul>
    </section>
</body>
</html>